body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 1.2;
    background-color: #333;
}

.current {
    padding: 3em 24px;
    background-color: #00a000;

    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

.current.stores-closed {
    background-color: #a00000;
}

.future {
    padding: 3em 8px 0;
    text-align: center;
    font-size: 1.4em;
    border-top: 2px solid #ffffff;
}

.future > .text-1 {
    margin: 0 0 30px 0;
    font-size: 1.2em;
}

.future > .text-2 {
    font-size: 1em;
}

@media screen and (max-width: 450px) {
    body {
        font-size: 10px;
    }
}

@media screen and (min-width: 451px) and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    body {
        font-size: 18px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    body {
        font-size: 21px;
    }
}
